.home {
  font-size: 290%;
}
a {
  font-size: 20px;
  text-decoration: underline;
}
@media screen and (max-width: 620px) {
  .home {
    font-size: 150%;
  }
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  border-radius: 15px;
  font-family: "Source Sans Pro", sans-serif;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
